/* FONTS */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');


/* BODY */
body{
    background-color: #F7FFF7;
    font-family: 'Quicksand', sans-serif;
}

/* HEADER */
h1#title{
    font-size: 22px;
    margin-top: 80px;
    color: rgba(0, 0, 0, 0.678);
    text-indent: 40px;
}

/* FORM */
div.container-fluid{
    margin: 10px 20px 100px 40px;
}
label, input{
    margin-top: 10px;
}
input{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.179);
}
div.row{
    margin-right: 40px;
}
input#cadastro{
    width: 150px;
    padding: 5px;
    margin-top: 46px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: #BDE4A8;
    font-size: 14px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.339);
}

/* RESPONSIVIDADE */
@media(max-width: 992px){
    input#cadastro{
        width: 300px;
        margin-left: 160px;
    }
}

@media(max-width: 768px){
    input#cadastro{
        width: 300px;
        margin-left: 55px;
    }
}
